@import "tailwindcss";

:root {
  --color-background: #fdf5e6;
  --color-surface: #ffffff;
  --color-primary: #0457cd;
  --color-secondary: #bccef8;
  --color-accent: #0457cd;
  --color-highlight: #ffc857;
  --color-text-primary: #111827;
  --color-text-secondary: #4e535d;

  color-scheme: light;
}

.dark {
  --color-background: #1a1a2e;
  --color-surface: #16213e;
  --color-primary: #ffffff;
  --color-secondary: #e94560;
  --color-accent: #d9546a;
  --color-highlight: #e94560;
  --color-text-primary: #ffffff;
  --color-text-secondary: #d9546a;

  color-scheme: dark;
}
