name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [latest, latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3.5.3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: "pnpm"

      - name: Install pnpm
        if: runner.os == 'Linux'
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.1

      - name: Install pnpm
        if: runner.os == 'Windows'
        run: npm install -g pnpm@10.15.1

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build
